KSeFFlow/backend/src/main/resources/xsd/FA3_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Structural XSD for FA(3) — Polish KSeF e-invoice schema.
  Namespace: http://crd.gov.pl/wzor/2023/06/29/12648/
  Schema version: 1-0E (Ministerstwo Finansów)

  IMPORTANT: This is a SIMPLIFIED structural schema for development-time validation.
  It validates document structure and required element presence.

  For production:
    Replace this file with the official government XSD from:
    https://www.ksef.gov.pl (KSeF schema repository)
    The official XSD imports etd:// base type definitions not included here.

  This schema covers:
    - Root element Faktura in the correct namespace
    - Required top-level sections: Naglowek, Podmiot1, Podmiot2, Fa
    - Required Fa children: KodWaluty, P_1, P_2, P_6, P_15, Adnotacje, FaWiersz, Podsumowanie
    - Required FaWiersz children: NrWierszaFa, P_7, P_8A, P_8B, P_9A, P_10, P_11, P_12
    - Required Podsumowanie children: PodatekNalezny, P_15
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://crd.gov.pl/wzor/2023/06/29/12648/"
           targetNamespace="http://crd.gov.pl/wzor/2023/06/29/12648/"
           elementFormDefault="qualified">

  <!-- ── Root element ─────────────────────────────────────────────────────── -->

  <xs:element name="Faktura">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Naglowek"  type="tns:TNaglowek"/>
        <xs:element name="Podmiot1"  type="tns:TPodmiot"/>
        <xs:element name="Podmiot2"  type="tns:TPodmiot"/>
        <xs:element name="Fa"        type="tns:TFa"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ── Naglowek (Header) ──────────────────────────────────────────────── -->

  <xs:complexType name="TNaglowek">
    <xs:sequence>
      <xs:element name="KodFormularza">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="kodSystemowy" type="xs:string" use="required"/>
              <xs:attribute name="wersjaSchemy" type="xs:string" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="WariantFormularza" type="xs:string"/>
      <xs:element name="DataWytworzeniaFa" type="xs:string"/>
      <xs:element name="SystemInfo"        type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Podmiot (Party: seller or buyer) ───────────────────────────────── -->

  <xs:complexType name="TPodmiot">
    <xs:sequence>
      <xs:element name="DaneIdentyfikacyjne" type="tns:TDaneIdentyfikacyjne"/>
      <xs:element name="Adres"               type="tns:TAdres"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TDaneIdentyfikacyjne">
    <xs:sequence>
      <xs:element name="NIP"   type="tns:TNIP"/>
      <xs:element name="Nazwa" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TNIP">
    <!-- Exactly 10 digits — required by Polish VAT Act -->
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TAdres">
    <xs:sequence>
      <xs:element name="KodKraju" type="xs:string"/>
      <xs:element name="AdresL1"  type="xs:string"/>
      <xs:element name="AdresL2"  type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Fa (Invoice body) ──────────────────────────────────────────────── -->

  <xs:complexType name="TFa">
    <xs:sequence>
      <xs:element name="KodWaluty"    type="tns:TKodWaluty"/>
      <xs:element name="P_1"          type="xs:string"/>  <!-- issue date YYYY-MM-DD -->
      <xs:element name="P_2"          type="xs:string"/>  <!-- invoice number -->
      <xs:element name="P_6"          type="xs:string" minOccurs="0"/>  <!-- delivery date -->
      <xs:element name="P_15"         type="tns:TKwota"/>  <!-- total gross (Fa level) -->
      <xs:element name="Adnotacje"    type="tns:TAdnotacje"/>
      <xs:element name="FaWiersz"     type="tns:TFaWiersz" maxOccurs="unbounded"/>
      <xs:element name="Podsumowanie" type="tns:TPodsumowanie"/>
      <xs:element name="Platnosc"     type="tns:TPlatnosc" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ── Adnotacje (Annotation flags) ──────────────────────────────────── -->

  <xs:complexType name="TAdnotacje">
    <xs:sequence>
      <xs:element name="P_16"  type="tns:TBitFlag"/>  <!-- MPP split payment -->
      <xs:element name="P_17"  type="tns:TBitFlag"/>  <!-- self-billing -->
      <xs:element name="P_18"  type="tns:TBitFlag"/>  <!-- reverse charge -->
      <xs:element name="P_18A" type="tns:TBitFlag"/>  <!-- VAT OSS -->
      <xs:element name="P_19"  type="tns:TBitFlag"/>  <!-- margin scheme -->
      <xs:element name="P_22"  type="tns:TBitFlag"/>  <!-- intra-EU goods -->
      <xs:element name="P_23"  type="tns:TBitFlag"/>  <!-- triangular transactions -->
    </xs:sequence>
  </xs:complexType>

  <!-- "1" = applies, "2" = does not apply -->
  <xs:simpleType name="TBitFlag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ── FaWiersz (Line item) ───────────────────────────────────────────── -->

  <xs:complexType name="TFaWiersz">
    <xs:sequence>
      <xs:element name="NrWierszaFa" type="xs:positiveInteger"/>
      <xs:element name="P_7"         type="xs:string"/>       <!-- product/service name -->
      <xs:element name="P_8A"        type="xs:string"/>       <!-- unit of measure -->
      <xs:element name="P_8B"        type="tns:TKwota"/>      <!-- quantity -->
      <xs:element name="P_9A"        type="tns:TKwota"/>      <!-- unit net price -->
      <xs:element name="P_10"        type="tns:TKwota"/>      <!-- line net amount -->
      <xs:element name="P_11"        type="tns:TStawkaVat"/>  <!-- VAT rate code -->
      <xs:element name="P_12"        type="tns:TKwota"/>      <!-- VAT amount -->
      <xs:element name="GTU"         type="xs:string" minOccurs="0"/>  <!-- PKWiU/GTU code -->
    </xs:sequence>
  </xs:complexType>

  <!-- FA(3) VAT rate codes -->
  <xs:simpleType name="TStawkaVat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="23"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="0"/>
      <xs:enumeration value="zw"/>  <!-- zwolniony — VAT exempt -->
      <xs:enumeration value="np"/>  <!-- nie podlega — outside VAT scope / reverse charge -->
      <xs:enumeration value="oo"/>  <!-- poza terytorium kraju — outside Poland -->
    </xs:restriction>
  </xs:simpleType>

  <!-- ── Podsumowanie (VAT summary) ─────────────────────────────────────── -->

  <xs:complexType name="TPodsumowanie">
    <xs:sequence>
      <xs:element name="PodatekNalezny" type="tns:TPodatekNalezny"/>
      <xs:element name="P_15"           type="tns:TKwota"/>  <!-- total gross (summary level) -->
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TPodatekNalezny">
    <xs:sequence>
      <!-- Net amounts by VAT rate — only present rates are emitted -->
      <xs:element name="P_13_1" type="tns:TKwota" minOccurs="0"/>  <!-- 23% net -->
      <xs:element name="P_14_1" type="tns:TKwota" minOccurs="0"/>  <!-- 23% VAT -->
      <xs:element name="P_13_2" type="tns:TKwota" minOccurs="0"/>  <!-- 8% net -->
      <xs:element name="P_14_2" type="tns:TKwota" minOccurs="0"/>  <!-- 8% VAT -->
      <xs:element name="P_13_3" type="tns:TKwota" minOccurs="0"/>  <!-- 5% net -->
      <xs:element name="P_14_3" type="tns:TKwota" minOccurs="0"/>  <!-- 5% VAT -->
      <xs:element name="P_13_4" type="tns:TKwota" minOccurs="0"/>  <!-- 0% net -->
      <xs:element name="P_14_4" type="tns:TKwota" minOccurs="0"/>  <!-- 0% VAT -->
      <xs:element name="P_13_5" type="tns:TKwota" minOccurs="0"/>  <!-- zw net -->
      <xs:element name="P_14_5" type="tns:TKwota" minOccurs="0"/>  <!-- zw VAT (always 0) -->
      <xs:element name="P_13_6" type="tns:TKwota" minOccurs="0"/>  <!-- np net -->
      <xs:element name="P_14_6" type="tns:TKwota" minOccurs="0"/>  <!-- np VAT (always 0) -->
    </xs:sequence>
  </xs:complexType>

  <!-- ── Platnosc (Payment) ─────────────────────────────────────────────── -->

  <xs:complexType name="TPlatnosc">
    <xs:sequence>
      <xs:element name="TerminPlatnosci"  type="tns:TTerminPlatnosci" minOccurs="0"/>
      <xs:element name="FormaPlatnosci"   type="xs:string" minOccurs="0"/>
      <xs:element name="RachunekBankowy"  type="tns:TRachunekBankowy" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TTerminPlatnosci">
    <xs:sequence>
      <xs:element name="Termin" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TRachunekBankowy">
    <xs:sequence>
      <xs:element name="NrRB" type="xs:string"/>  <!-- IBAN bank account -->
    </xs:sequence>
  </xs:complexType>

  <!-- ── Shared simple types ────────────────────────────────────────────── -->

  <!-- Currency codes supported by KSeFFlow -->
  <xs:simpleType name="TKodWaluty">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="USD"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Monetary/quantity values: decimal with period separator, 2 decimal places -->
  <xs:simpleType name="TKwota">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?\d+\.\d{2}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
